.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* empilha verticalmente */
  background-image: url("../../assest/imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* garante que a seção ocupe a tela toda */
  position: relative;
  /* para deixar espaço para o header fixo */
}

.home-text {
  text-align: left;
  width: 100vw;
}
.home-text h1 {
  font-family: Poppins, sans-serif;
  font-size: 80px;
  color: #fff;
  margin-left: 300px;
}
.home-text span {
  color: #bb974d;
}

.home button {
  margin-top: 30px;

  margin-left: 300px;
}

header {
  position: absolute;
  display: flex;
  width: 100vw;
  z-index: 10;
  margin-top: 10px;
}

nav {
  width: 60%;
  background-color: rgba(16, 16, 16, 0.7);
  height: 70px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 30px;
}
.header-list li {
  color: #bb974d;
  margin-left: 20px;
  font-family: Quando, sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.header-list li:hover {
  color: #fff;
}

.header-logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 40px;
  flex: 1;
}
