.depoimentos {
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 100%;
}
.dp-logo img {
  position: absolute;

  right: 0;
  margin-right: 4rem;
  margin-top: 2rem;
}

.dp-text {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.depoimentos h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
.depoimentos span {
  color: #d4a72c;
}

.carrossel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;

  padding: 30px 0;
}

.carrossel-wrapper {
  display: flex;
  transition: transform 0.6s ease;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
}
.cadsborder {
  width: 99%;
  height: 99%;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 15px;
}

.cadsDp {
  position: relative;
  flex: 0 0 33.3333%;
  padding: 2px;
  background: conic-gradient(
    rgba(212, 165, 53, 0.8) 0%,
    rgba(212, 165, 53, 0.8) 0%,
    transparent 0%
  );
  color: white;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(8px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

@keyframes girarBg {
  0% {
    background: conic-gradient(
      rgba(212, 165, 53, 0.8) 0%,
      rgba(212, 165, 53, 0.8) 0%,
      transparent 0%
    );
  }
  10% {
    background: conic-gradient(
      rgba(212, 165, 53, 0.8) 10%,
      rgba(212, 165, 53, 0.8) 10%,
      transparent 0%
    );
  }
  25% {
    background: conic-gradient(
      rgba(212, 165, 53, 1) 25%,
      rgba(212, 165, 53, 1) 25%,
      transparent 0%
    );
  }
  30% {
    background: conic-gradient(
      rgba(212, 165, 53, 0.8) 30%,
      rgba(212, 165, 53, 0.8) 30%,
      transparent 0%
    );
  }
  40% {
    background: conic-gradient(
      rgba(212, 165, 53, 0.8) 40%,
      rgba(212, 165, 53, 0.8) 40%,
      transparent 0%
    );
  }
  50% {
    background: conic-gradient(
      rgba(212, 165, 53, 1) 50%,
      rgba(212, 165, 53, 1) 50%,
      transparent 0%
    );
  }
  60% {
    background: conic-gradient(
      rgba(212, 165, 53, 1) 60%,
      rgba(212, 165, 53, 1) 60%,
      transparent 0%
    );
  }
  75% {
    background: conic-gradient(
      rgba(212, 165, 53, 1) 75%,
      rgba(212, 165, 53, 1) 75%,
      transparent 0%
    );
  }
  85% {
    background: conic-gradient(
      rgba(212, 165, 53, 1) 85%,
      rgba(212, 165, 53, 1) 85%,
      transparent 0%
    );
  }
  90% {
    background: conic-gradient(
      rgba(212, 165, 53, 1) 90%,
      rgba(212, 165, 53, 1) 90%,
      transparent 0%
    );
  }
  100% {
    background: conic-gradient(rgba(212, 165, 53, 1) 100%, transparent 0%);
  }
}

.cadsDp:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(255, 215, 0, 0.5);
  background-color: rgba(212, 165, 53, 1);
  animation: girarBg 0.3s forwards;
}

.cadsDp .avatar {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  background: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.cadsDp .avatar img {
  width: 100%;
}
.cadsDp h3 {
  margin-top: 30px;
  font-size: 1.2rem;
  font-family: "Quando", sans-serif;
  color: #d4a72c;
}

.cadsDp h4 {
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  font-style: italic;
}

.cadsDp p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
}
/* Bolinhas de navegação */
.carrossel-dots {
  text-align: center;
  margin-top: 15px;
}

.carrossel-dots button {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid goldenrod;
  background-color: transparent;
  cursor: pointer;
}

.carrossel-dots button.active {
  background-color: goldenrod;
}
